#boxTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:inherit;
}
#boxgame{
    display: flex;
    justify-content: center;
    align-items: center;
}
#color{
    text-align: center;
    color: fff;
    font-size: 20px;
}
#Vermelho{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
background-color: #ff3e3e;
border-end-start-radius: 75px;
border-end-end-radius: 75px;
}
#Verde{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
background-color: #7eff64;
border-end-start-radius: 75px;
border-end-end-radius: 75px;

}
#Amarelo{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
    background-color: #faff63;
    border-end-start-radius: 75px;
   border-end-end-radius: 75px;

}
#Azul{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
    background-color: #6060f2;
    border-end-start-radius: 75px;
    border-end-end-radius: 75px;
}
body{
    background-color: rgb(248, 212, 212);
    
}
button{
    background-color: #53b2dd;
    color: #feffff;
   border-color: cornflowerblue;
}
