#boxTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:inherit;
   font-size: 60px;
}
#boxgame{
    display: flex;
    justify-content: center;
    align-items: center;
}
#color{
    text-align: center;
    color: fff;
    font-size: 20px;
}
#Vermelho{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
background-color: #ff3e3e;
border-end-start-radius: 80px;
border-end-end-radius: 75px;
}
#Verde{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
background-color: #7eff64;
border-end-start-radius: 80px;
border-end-end-radius: 75px;

}
#Amarelo{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
    background-color: #faff63;
    border-end-start-radius: 80px;
   border-end-end-radius: 75px;

}
#Azul{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    font-size: 40px;
    border-style:dashed;
    background-color: #6060f2;
    border-end-start-radius: 80px;
    border-end-end-radius: 75px;
}
body{
    background: linear-gradient(45deg, rgb(0, 229, 255), rgb(205, 125, 251));
    
}
button{
    background-color: #18191a;
    color: #feffff;
   border-color: cornflowerblue;
   background: linear-gradient(#e66465, #9198e5);
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00b7ff, #917cf9, #0022ff, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


Resources
